include README* CREDITS COPYING.txt CHANGELOG CONTRIBUTING.rst CITATION.rst
recursive-include treefarm *.py *.txt
recursive-include doc *.rst *.py *.png
include doc/README
include doc/Makefile
prune doc/build
